<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job board HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <link rel="stylesheet" href="/static/css/slicknav.css">
    <link rel="stylesheet" href="/static/css/price_rangs.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <link rel="stylesheet" href="/static/css/slick.css">
    <link rel="stylesheet" href="/static/css/nice-select.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="static/img/logo/logo.jpg"  style="height:60px; width:90px">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
	<header>
        <!-- Header Start -->
       <div class="header-area header-transparrent">
           <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="{{ url_for('index') }}" ><img src="static/img/logo/logo.png" alt=""></a>
                            </div>  
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a href="{{ url_for('studentInternship') }}">Internship</a></li>
											<li><a href="{{ url_for('studentResults') }}">Results</a></li>
                                            <li><a href="#">Profile</a>
                                                <ul class="submenu">
                                                    <li><a href="{{ url_for('studentDetails') }}">Student Details</a></li>
                               
                                                    <li><a href="{{ url_for('studentUpload') }}">Upload</a></li>
           
                                                </ul>
                                            </li>
                                        </ul>
                                        
                                    </nav>
                                </div>  
                                <div class="header-btn d-none f-right d-lg-block">
                                    <a href="{{ url_for('logout') }}" class="btn head-btn1">Logout</a>
                                </div>                
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
       </div>
        <!-- Header End -->
    </header>

    <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center"
                data-background="/static/img/hero/about.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Posting Details</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <a href="#"><img src="/static/img/icon/job-list1.png" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>{{jobData[1]}}</h4> <!-- Position -->
                                    </a>
                                    <ul>
                                        <li>{{jobData[4]}}</li> <!-- Working hours -->
                                        <li>Salary : RM{{jobData[2]}} - RM{{jobData[3]}}</li> <!-- Salary Range -->
                                    </ul>
                                    <br>
                                    <ul>
                                        <li>Posted : {{jobData[8]}}</li> <!-- Date Posted -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- job single End -->

                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Job Description</h4>
                                </div>
                                <p>{{jobData[6]}}</p>
                            </div>
                            <div class="post-details2  mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Job Requirements</h4>
                                </div>
                                <p>{{jobData[5]}}</p>
                            </div>
                            <div class="post-details2  mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Additional Information</h4>
                                </div>
                                <p>{{jobData[7]}}</p> <!-- Additional Information -->
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Company Information</h4>
                            </div>
                            <span>{{companyData[1]}}</span> <!-- Company Name -->
                            <p>{{companyData[11]}}</p> <!-- Company Description -->
                            <ul>
                                <li>Address : <span> {{companyData[2]}}, {{companyData[4]}} {{companyData[3]}}, {{companyData[5]}}</span></li> <!-- Company Address -->
                                <li>Industry: <span>{{companyData[9]}}</span></li> <!-- Company Industry -->
                                <li>Company Type : <span>{{companyData[10]}}</span></li>     <!-- Company Type -->
                            </ul>
                        </div>

                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Contact Details</h4>
                            </div>
                            <ul>
                                <li>Contact Person : <span>{{companyData[6]}}</span></li>
                                <li>Contact Email : <span> {{companyData[7]}}</span></li>
                                <li>Website: <span>{{companyData[8]}}</span></li>
                            </ul>
                        </div>

                        <div class="post-details4 mb-50">
                            <!-- Small Section Tittle -->
                           
                            <!-- Add Edit and Delete buttons here -->
                            <div class="d-flex flex-column">
                                <a href="mailto:{{companyData[7]}}" class="btn head-btn1 mb-3">Apply</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- job post company End -->
    </main>
    <footer>
        <!-- Footer Start-->
        <!-- footer-bottom area -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-10 col-lg-10 ">
                            <div class="footer-copy-right">
                                <p>Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> TAR UMT ITP</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="../static/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="../static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="../static/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/slick.min.js"></script>
    <script src="../static/js/price_rangs.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="../static/js/wow.min.js"></script>
    <script src="../static/js/animated.headline.js"></script>
    <script src="../static/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="../static/js/jquery.scrollUp.min.js"></script>
    <script src="../static/js/jquery.nice-select.min.js"></script>
    <script src="../static/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="../static/js/contact.js"></script>
    <script src="../static/js/jquery.form.js"></script>
    <script src="../static/js/jquery.validate.min.js"></script>
    <script src="../static/js/mail-script.js"></script>
    <script src="../static/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

    <script>
        function confirmDelete(jobId) {
            if (confirm("Are you sure you want to delete this job listing?")) {
                // If the user confirms, redirect to your delete route
                window.location.href = "/company/delete_job/" + jobId; // Update the URL as needed
            } else {
                // If the user cancels, do nothing
            }
        }
    </script>


</body>

</html>